.todo{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;

}

.add-task input{
    padding: 5px;
    margin-right: 10px;
}

.task-list, .completed-tasks{
    margin-top: 20px;

}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid #ddd;
    margin-top: 5px;
}

button{
    margin-left: 5px;
}